  <%
    var githubUrl =
      'https://github.com/' +
      config.github_repo +
      '/tree/' +
      // If on a version, use the `version-X` branch, not `master`.
      (config.version ? 'version-' + config.version : 'master') +
      '/' +
      (config.content_root || 'content') +
      '/' +
      page.path.replace(/\.html$/, '.md');
  %>

  <div class="nav <%- config.nav_class || theme.nav_class %>">
    <div class="nav-group left">
      <div class="nav-item mobile-button js-sidebar-toggle show-mobile">
        <span class="icon-menu"></span>
      </div>
      <div class="nav-item">
        <% logo = config.logo || theme.logo %>
        <a class="logo-wrapper" href="/" title="<%- logo.title %> <%- logo.subtitle %>" <%- logo.target && 'target=' + logo.target %> >
          <img src="<%- relative_url(page.path, logo.nav_mobile) %>" alt="<%- logo.title %>" class="logo"/>
          <% if (logo && logo.subbrand) { %>
            <img src="<%- relative_url(page.path, logo.subbrand) %>" class="logo-subbrand" alt="<%- logo.subtitle %>"/>
          <% } else { %>
            <span><%- logo && logo.subtitle %></span>
          <% } %>
        </a>
      </div>
    </div>


    <div class="nav-group right">
      <div class="nav-item show-desktop">
        <% 
          var path = page.path;
          var isEN = path.indexOf('en') == 0; 
          var LINK = isEN ? path.replace('en','') : '/en/'+path;
        %>
        <a class="link" href="<%- LINK %>" >
          <span><%- __('Docs') %></span>
        </a>
      </div>
      <% _.each(config.nav || theme.nav, function (link, title) { %>
        <div class="nav-item show-desktop <%- link.active && 'active' %> <%- link.separator && 'separator' %>">
          <a class="link" href="<%- link.url || link %>" <%- link.target && 'target=' + link.target %> >
            <span><%- __(title) %></span>
          </a>
        </div>
      <% }) %>
    </div>
  </div>

  <%- partial('partials/sidebar') %>
    <div class="content">

      <div class="header-content">
        <div class="header-wrapper">
          <div class="title-wrapper">
            <h1 class="title-page">
              <%- page.title %>
            </h1>
            <% if (page.description) { %>
              <div class="subtitle-page">
                <%- page.description %>
              </div>
              <% } %>
          </div>

          <div class="page-actions">
            <div class="actions-group">
              <a class="btn tertiary small round lowercase" href="<%- githubUrl %>" target="_blank">
                <span class="icon-github"></span>
                <span><%- __('Edit') %></span>
              </a>
              <% if (page.discourseTopicId) { %>
                <a class="btn tertiary small round lowercase" href="https://forums.meteor.com/t/<%- page.discourseTopicId %>">
                  <span class="icon-comment"></span>
                  <span>Discuss</span>
                </a>
              <% } %>
              <% if (config.social_links && config.social_links.slackInvitePage) { %>
                <a class="btn tertiary small round lowercase" href="<%- config.social_links.slackInvitePage %>">
                  <img src="<%- relative_url(page.path, 'images/slack.png') %>" style="width: 12px; margin: 0 3px -2px -3px;" />
                  <span>Discuss on Slack</span>
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-wrapper">
        <div class="document-formatting">
          <%- page.content %>
        </div>

        <% if(theme.ad && theme.ad.enable) { %>
          <div class="custom-recommend"></div>
          <script src="<%= url_for('/script/recommend.js', { relative: true }) %>"></script>  
        <% } %>
      
        <div class="pagination">
          <div class="content-wrapper">
            <%
              function findAdjacent (direction) {
                var pagePaths = _.flatten(_.map(theme.sidebar, function(vals) { 
                  vals = _.map(vals,function(val){
                    return isEN ? 'en/'+val : val;
                  })
                  return vals; 
                }));
                var pages = _.map(pagePaths, function (val) { return site.pages.findOne({path: val + '.html'}); });
                var i = pages.length
                while (i--) {
                  if (pages[i] && pages[i].title === page.title) {
                    break
                  }
                }
                return direction > 0
                  ? pages[i + 1]
                  : pages[i - 1]
              }
            %>
            <% var prev = findAdjacent(-1); if (prev) { %>
              <a class="link primary prev" href="<%- relative_url(page.path, prev.path) %>">
                <span class="subtitle-pagination">
                  <%- __('Prev') %>
                </span>
                <%- prev.title %>
              </a>
            <% } %>
            <% var next = findAdjacent(1); if (next) { %>
              <a class="link primary next" href="<%- relative_url(page.path, next.path) %>">
                <span class="subtitle-pagination">
                  <%- __('Next') %>
                </span>
                <%- next.title %>
              </a>
            <% } %>
          </div>
        </div>
        
        <% if(page.comments && theme.valine && theme.valine.enable ){ %>
          <div class="vcomment"></div>
          <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
          <script src="//unpkg.com/valine"></script>
          <script>
            var valine = new Valine();
            var path = window.location.pathname.replace('index.html','');
            var isEN = path.indexOf('en') > -1;
            path = isEN ? path.replace('en/','') : path;
            valine.init({
                el: '.vcomment',
                appId: '<%- theme.valine.appId %>',
                appKey: '<%- theme.valine.appKey %>',
                notify: <%- theme.valine.notify %>,
                placeholder: '<%- theme.valine.placeholder %>',
                avatar:'<%- theme.valine.avatar %>',
                path:path,
                lang: isEN ? 'en' : 'zh-cn',
                visitor:true
            })
          </script>
        <% } %>
      </div>

      

      <div class="github">
        <% var cYear = new Date().getFullYear(); %>
        &copy; <%- config.sence %> - <%- cYear %> <br> Powered By xCss.
      </div>
    </div>